**/.idea/*
**/.gradle
**/build/
**/release/
!**/gradle/wrapper/gradle-wrapper.jar

*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
